@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #232e35;
}

h1,h2,h3,h4,h5,h6, strong {
    color: #fff;
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem
}

p, span, label, input, textarea, li {
    color: #fff;
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .main-container {
        width: 90%;
    }
}

/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}
.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #fff;
    position: relative;
    padding-left: 45px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 10px;
    background: #8000ff;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Logo and Navigation Menu*/
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: #8000ff;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #8000ff;
}

/* Hero Section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span {
    color: #8000ff;
}

.hero-right img {
    width: 90%
}

.hero-right {
    display: flex;
    justify-content: center;
}

/* Service Section */
#service {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.services .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: #47476b;
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: #8000ff;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: black;
}

/* Portofolio Section */
#portofolios {
    padding: 6rem 0;
}

.portofolio {
    border-radius: 0.7rem;
}

.portofolio-cover {
    height: 250px;
}

.portofolio-cover img {
    width: 100%;
    height: 100%;
}
